.parallaxContainer {
    position: relative;
    height: 250px; // Hauteur visible du conteneur
    overflow: hidden; // Masque l'image qui dépasse
}

.parallaxImage {
    position: fixed; // Position fixe par rapport à la fenêtre
    top: 0;
    left: 0;
    width: 100vw; // Prend toute la largeur de la fenêtre
    height: 100vh; // Prend toute la hauteur de la fenêtre
    background: url('/fond-naturo.jpg') top left / cover no-repeat;
    z-index: -1; // Assure que l'image reste en arrière-plan
    will-change: transform; // Optimisation pour les animations
}
