.contact-form-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--main-theme);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .text {
        display: flex;
        justify-content: flex-start;
        border-left: solid 1px var(--foreground);
        p {
            margin: 20px 0;
            display: flex;
            align-items: center;
            font-size: 14px;
            .icon {
                height: 20px;
                width: 20px;
                margin-right: 5px;
            }
        }
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;

    label {
        font-size: 16px;
        font-weight: bold;
    }

    input,
    textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        background-color: var(--background);
        border: none;
        color: var(--text-main);

        &:focus {
            outline: none;
        }
    }

    .form-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        button {
            padding: 10px 20px;
            font-size: 16px;
            width: 150px;
            color: var(--text-main);
            background-color: var(--background);
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .success-message {
        color: #28a745;
        font-size: 14px;
    }

    .error-message {
        color: #ff4d4d;
        font-size: 14px;
    }
}
